In [1]:
from ydata_profiling import ProfileReport

c:\Users\rohit\Desktop\coding_projects\time_series\eda\automated_eda\env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import seaborn as sns # contains lots of free datasets

In [3]:
df = sns.load_dataset('tips')

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
profile = ProfileReport(df, explorative=True)

In [7]:
profile.to_file('output.html')

100%|██████████| 7/7 [00:00<00:00, 372.34it/s]0<00:00, 29.20it/s, Describe variable: size]
Summarize dataset: 100%|██████████| 25/25 [00:02<00:00,  9.46it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.05s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.07s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 70.01it/s]